* {
    margin: 0;
    padding: 0;
}

:root{
    --primary-color: #edf2fc;
    --secundary-color: #212121;
}

.dark-theme{
    --primary-color: #000106;
    --secundary-color: #fff;
}

#icon{
    width: 30px;
    cursor: pointer;
}

nav ul{
    flex: 1px;
    text-align: right;
}

.hero {
    height: 100vh;
    width: 100%;
    background: var(--primary-color);
    font-family: sans-serif;
    position: relative;
}

/*  ======== nav ========= */
nav {
    width: 84%;
    margin: auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    color: var(--secundary-color);
}
nav ul li a:hover{
    color: #ff4321;
}


.logo {
    width: 100px;
    cursor: pointer;
}


/*  ======== info ===== */
.info{
    margin-left: 8%;
    margin-top: 15%;
}
.info h1{
    font-size: 70px;
    color: var(--secundary-color);
    margin-bottom: 20px;
}
.info p{
    color: var(--secundary-color);
    line-height: 22px;
}
.info a{
    background: var(--secundary-color);
    padding: 10px 18px;
    text-decoration: none;
    color: var(--primary-color);
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}

/* ====== image-box=========== */
.img-box{
    width: 45%;
    height: 85%;
    position: absolute;
    bottom: 0;
    right: 100px;
}
.img-box img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: 1s, left 1s;
}
.img-box:hover .back-img{
    bottom: 40px;
}
.img-box:hover .main-img{
    left: 54%;
}


/* ====== social-links ===== */
.social-links{
    margin-left: 8%;
    margin-top: 100px;
}
.social-links a{
    font-size: 30px;
    color: #606163;
    margin-right: 20px;
}
.social-links a:hover{
    color: #ff4321;
}

span{
    color: #ff4321
}

